


@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
}

.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    min-width: 200px;
}

.sidebar h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    font-size: 1rem;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    /* padding: 20px; */
    flex: 1;
}

h1, h2 {
    color: #333;
}

/* Homepage specific styles */
#welcomeMessage {
    font-size: 1.5rem;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Form styles */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor:pointer;
    border-radius: 10px;
    

}

button:hover {
    background-color: #555;
}

#edit {
    background-color: #285ee9;
    border-radius: 10px;
    width: 70px;
    margin-left: 10px;
}

#edit:hover {
    background-color: #6581c2;
}

#delete {
    background-color: #e43838;
    border-radius: 10px;
    width: 70px;
}

#delete:hover {
    background-color: #d17070;
}

#update {
    background-color: #1f1c1c;
}

#update:hover {
    background-color: #423838;
}

#submit {
    background-color: #38e485;
   
}

#submit:hover {
    background-color: #78ca7c;
}



#employeeTable {
    width:auto;
    /* display: none; */
    border-collapse: collapse;
    /* border:5px solid black; */
    /* background-color: #cbdced; */
  }
  
  th, td {
    border:5px solid #ddd;
    padding: 8px;
  }

  #employeeTable tr:nth-child(even){
    background-color: #f2f2f2;

  }
  #employeeTable tr:nth-child(odd){
    background-color: #ffffff;

  }
  #employeeTable tr:hover{
    background-color: #ddd;

  }
  #employeeTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: rgb(255, 255, 255);
  }

  .table-container th {
    background-color: #1d0303;
    color: rgb(255, 255, 255);
    
  }

  input[type="file"] {
    outline: none;
    cursor:pointer;
    font-size: 17px;
  }
  
  #range-label {
    width:15%;
    padding:5px;
    background-color: #1BBA93;
    color:white;
    border-radius: 5px;
    font-size: 17px;
    position: relative;
    top:-8px;
  }

  