


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.dashboard {
  display: flex;
}

/* .sidebar {
  width: 20%;
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* .sidebar h2 {
  color: #333;
} */

/* .sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* .sidebar button:hover {
  background-color: #45a049;
} */

.content {
  flex-grow: 1;
  padding: 20px;
}


